@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: 'Josefin Sans', sans-serif;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-iamge {
  width: 100%;
  height: 300px;
  margin-bottom: -230px;
  background-repeat: no-repeat;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 540px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 15px;
}

.dark-mode-btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

section {
  width: 100%;
  max-width: 540px;
  padding-left: 24px;
  padding-right: 24px;
}

.input {
  width: 100%;
  height: 64px;
  border-radius: 5px;
  background: #FFF;
  margin-top: 20px;
  border: none;
  color: #767992;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.167px;
  padding-left: 72px;
}

.circle {
  position: relative;
  top: 65px;
  left: 24px;
}

.tasks-footer {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 15px;
}

.tasks-footer-p {
  color: #5B5E7E;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.194px;
}

.filter {
  width: 150px;
  display: flex;
  flex: row;
  justify-content: space-between;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.194px;
  margin-top: 49px;
}

@media screen and (max-width: 500px) {
  .input {
    height: 48px;
    font-size: 12px;
    padding-left: 52px;
  }

  .circle {
    width: 18px;
    position: relative;
    top: 57px;
    left: 20px;
  }

  .tasks-footer {
    padding-left: 8px;
    padding-right: 8px;
  }

  .tasks-footer-p {
    font-size: 12px;
  }

  .filter {
    width: 120px;
  }
}
